{% extends 'base.html' %}

{% block title %}  
    About
{% endblock title %}

{% block body %}
    <div class="container">
        <h2 class="pt-4">This is About Us Page</h2>
        <p class="fs-5" style="color: black;">This Page is currently under development and any contribution to this page is welcomed from my <a href="https://github.com/PrachetShah/Creamy">GitHub</a></p>
        <div class="container pt-4">
            <h3>Some Dummy Placeholder</h3>
            <p class="fs-4">Lacus malesuada accumsan quam ridiculus est rhoncus a ornare torquent egestas? Sem arcu commodo velit per sodales. Malesuada quam sollicitudin arcu vulputate dictum dapibus himenaeos habitant donec neque penatibus. Ad cum turpis tincidunt egestas litora posuere justo. Velit, vestibulum parturient quis leo cras netus lacus neque magnis metus. Sed fames convallis maecenas erat primis feugiat ligula nostra tincidunt nibh. Consectetur et arcu platea posuere pellentesque lorem bibendum massa, euismod rhoncus. Ut consectetur vivamus primis. Platea, eu aenean sit elit cum magnis imperdiet taciti. Sodales facilisis?

                Morbi montes quam placerat? Ad interdum nam senectus nec sapien suscipit fermentum cras curae; ipsum mus. Erat ornare vestibulum vulputate vulputate. Ultrices dictum conubia mattis praesent porttitor quis nostra fames mattis ut pharetra habitant? Hendrerit leo molestie metus, tristique morbi. Feugiat cras euismod diam. Eu donec quisque risus. Taciti aenean dapibus dictum purus dolor cursus velit platea netus. Libero aptent tristique nunc iaculis duis vitae. Justo phasellus sollicitudin nisi massa ultrices. Rhoncus blandit pharetra faucibus aliquet nullam eros platea dolor pharetra?
                
                Semper curae; vitae imperdiet condimentum massa placerat tincidunt, mi vel eleifend litora sem. Varius, cum orci consectetur nulla nascetur lorem habitant malesuada potenti posuere pulvinar. Elit enim venenatis suscipit erat nisl mattis penatibus rutrum blandit himenaeos. Augue ac netus urna dapibus erat per laoreet adipiscing vivamus tincidunt. Conubia placerat euismod semper! Cursus habitasse nulla imperdiet hac himenaeos! Velit, porttitor posuere.</p>
        </div>
    </div>
{% endblock body %}